<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS reverse-proxy to Waitress on 127.0.0.1:8050.
  Requires: URL Rewrite + Application Request Routing (ARR) with proxy enabled.
-->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- ~100 MB Excel uploads -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <proxy enabled="true" preserveHostHeader="true" />
    <rewrite>
      <rules>
        <rule name="Ocean Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8050/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="http" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <system.web>
    <!-- Long enough for ETL consolidation -->
    <httpRuntime maxRequestLength="102400" executionTimeout="300" />
  </system.web>
</configuration>
